In [21]:
import pandas as pd 
import gmaps 
import requests 

from config import g_key

In [22]:
city_data_df = pd.read_csv('weather_data/cities.csv')
city_data_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Port Alfred,ZA,7/15/21 21:47,-33.5906,26.8910,55.17,53,0,7.09
1,1,Asuncion Nochixtlan,MX,7/15/21 21:47,17.4667,-97.2333,65.14,75,97,8.21
2,2,Punta Arenas,CL,7/15/21 21:43,-53.1500,-70.9167,39.31,93,90,5.75
3,3,Rikitea,PF,7/15/21 21:47,-23.1203,-134.9692,73.31,72,11,8.05
4,4,Upernavik,GL,7/15/21 21:47,72.7868,-56.1549,42.93,80,100,10.71
...,...,...,...,...,...,...,...,...,...,...
560,560,Ternate,ID,7/15/21 21:50,0.8000,127.4000,79.50,83,92,3.67
561,561,Lakefield,US,7/15/21 21:51,43.6775,-95.1717,80.08,61,1,4.61
562,562,Kajaani,FI,7/15/21 21:51,64.2273,27.7285,66.25,94,0,6.91
563,563,San Jeronimo,PE,7/15/21 21:51,-11.9472,-75.2829,60.31,49,26,7.65
564,564,Sembakung,ID,7/15/21 21:48,3.8167,117.2500,76.93,96,100,1.14

In [23]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [24]:
gmaps.configure(api_key = g_key)

In [25]:
locations = city_data_df[['Lat', 'Lng']]
max_temp = city_data_df['Max Temp']

fig = gmaps.figure()

heatmap_layer = gmaps.heatmap_layer(locations, weights = max_temp)

fig.add_layer(heatmap_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
max_temp = city_data_df['Max Temp']

temps = []

for temp in max_temp: 
    temps.append(max(temp,0))

heatmap_layer = gmaps.heatmap_layer(locations, weights = temps)
fig.add_layer(heatmap_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
heatmap_layer = gmaps.heatmap_layer(locations, weights = [max(temp,0) for temp in max_temp])
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)

heatmap_layer = gmaps.heatmap_layer(locations, weights = [max(temp,0) for temp in max_temp], dissipating = False, max_intensity = 300, point_radius =2)
fig.add_layer(heatmap_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
locations = city_data_df[['Lat', 'Lng']]
humidity = city_data_df['Humidity']

fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)

heatmap_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating = False, max_intensity = 300, point_radius =2)

fig.add_layer(heatmap_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
locations = city_data_df[['Lat', 'Lng']]
clouds = city_data_df['Cloudiness']

fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)

heatmap_layer = gmaps.heatmap_layer(locations, weights = clouds, dissipating = False, max_intensity = 300, point_radius =2)

fig.add_layer(heatmap_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
locations = city_data_df[['Lat', 'Lng']]
wind = city_data_df['Wind Speed']

fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)

heatmap_layer = gmaps.heatmap_layer(locations, weights = wind, dissipating = False, max_intensity = 300, point_radius =2)

fig.add_layer(heatmap_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
min_temp = float(input('What is the minimum temperature you would like for your trip?'))
max_temp = float(input('What is the maximum temperature you would like for your trip?'))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?90

In [33]:
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & \
                                       (city_data_df['Max Temp'] >= min_temp)]

preferred_cities_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
8,8,Fairfield,US,7/15/21 21:45,41.2668,-73.3162,88.52,70,1,1.01
13,13,Liberty,US,7/15/21 21:47,31.8335,-81.5004,88.99,45,75,1.99
19,19,Faanui,PF,7/15/21 21:47,-16.4833,-151.7500,79.32,76,86,18.86
21,21,Gemlik,TR,7/15/21 21:43,40.4309,29.1597,79.09,70,0,5.75
31,31,Dzilam Gonzalez,MX,7/15/21 21:47,21.2833,-88.9333,87.22,57,18,11.39

In [34]:
preferred_cities_df.count()

City_ID       210
City          210
Country       210
Date          210
Lat           210
Lng           210
Max Temp      210
Humidity      210
Cloudiness    210
Wind Speed    210
dtype: int64

In [35]:
hotel_df = preferred_cities_df[['City', 'Country', 'Max Temp', 'Lat', 'Lng']].copy()
hotel_df['Hotel Name'] = ' '
hotel_df

                City Country  Max Temp      Lat       Lng Hotel Name
8          Fairfield      US     88.52  41.2668  -73.3162
13           Liberty      US     88.99  31.8335  -81.5004
19            Faanui      PF     79.32 -16.4833 -151.7500
21            Gemlik      TR     79.09  40.4309   29.1597
31   Dzilam Gonzalez      MX     87.22  21.2833  -88.9333
..               ...     ...       ...      ...       ...        ...
557           Jibuti      DJ     89.02  11.5000   42.5000
559           Ingham      US     79.95  42.6000  -84.3833
560          Ternate      ID     79.50   0.8000  127.4000
561        Lakefield      US     80.08  43.6775  -95.1717
564        Sembakung      ID     76.93   3.8167  117.2500

[210 rows x 6 columns]

In [36]:
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [37]:
for index, row in hotel_df.iterrows(): 
    
    lat = row['Lat']
    lng = row['Lng']

    params["location"] = f"{lat},{lng}"

    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    
    hotels = requests.get(base_url, params = params).json()
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError): 
        print('Hotel not found... skipping')

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping

In [38]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
8,Fairfield,US,88.52,41.2668,-73.3162,
13,Liberty,US,88.99,31.8335,-81.5004,Sasser Trailer Park
19,Faanui,PF,79.32,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
21,Gemlik,TR,79.09,40.4309,29.1597,Gemlik Pak Hotel
31,Dzilam Gonzalez,MX,87.22,21.2833,-88.9333,posadas

In [42]:

locations = hotel_df[['Lat', 'Lng']]
max_temp = hotel_df['Max Temp']

fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)

heatmap_layer = gmaps.heatmap_layer(locations, weights = max_temp, dissipating = False, max_intensity = 300, point_radius =2)
marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heatmap_layer)
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [44]:
info_box_template = """"
<dl> 
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt> Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [45]:

locations = hotel_df[['Lat', 'Lng']]
max_temp = hotel_df['Max Temp']

fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)

heatmap_layer = gmaps.heatmap_layer(locations, weights = max_temp, dissipating = False, max_intensity = 300, point_radius =2)
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)

fig.add_layer(heatmap_layer)
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))