## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets


# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lon,Hotel Name
0,0,Viedma,AR,53.10,light rain,-40.8135,-62.9967,Hotel Cristal
1,1,Mar Del Plata,AR,55.13,clear sky,-38.0023,-57.5575,Gran Hotel Mar del Plata
2,3,Punta Arenas,CL,37.51,broken clouds,-53.1500,-70.9167,Hotel Dreams Del Estrecho
3,10,Concordia,AR,49.78,clear sky,-31.3930,-58.0209,Palmar Hotel Casino
4,12,Dudinka,RU,56.59,overcast clouds,69.4058,86.1778,Hotel Viktoria

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt> Current Description </dt><dd> {Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lon"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Molteno']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Molteno']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'East London']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Port Alfred']
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Port Elizabeth']
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lon,Hotel Name
46,136,Port Elizabeth,ZA,50.29,clear sky,-33.918,25.5701,39 On Nile Guest House

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lon"].to_numpy()[0]
end = vacation_end['Lat'].to_numpy()[0], vacation_end['Lon'].to_numpy()[0]
stop1 = vacation_stop1['Lat'].to_numpy()[0], vacation_stop1['Lon'].to_numpy()[0]
stop2 = vacation_stop2['Lat'].to_numpy()[0], vacation_stop2['Lon'].to_numpy()[0]
stop3 = vacation_stop3['Lat'].to_numpy()[0], vacation_stop3['Lon'].to_numpy()[0]

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
travel_route = gmaps.directions_layer(
                start, end, waypoints = [stop1, stop2, stop3],
                travel_mode = 'DRIVING')
fig.add_layer(travel_route)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lon,Hotel Name
0,269,Molteno,ZA,44.91,few clouds,-31.3968,26.3625,Nadirashaleeta B&B
1,53,East London,ZA,58.80,clear sky,-33.0153,27.9116,Tu Casa
2,43,Port Alfred,ZA,57.90,scattered clouds,-33.5906,26.8910,The Halyards Hotel
3,136,Port Elizabeth,ZA,50.29,clear sky,-33.9180,25.5701,39 On Nile Guest House

In [9]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt> Current Description </dt><dd> {Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lon"]]

In [10]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))